_site
*.code-workspace
reports
.sass-cache
local

.jekyll-cache
site-builder/docs
.python-version
site-builder/notes
node_modules
docs-dev/notes

proto.*
*.log
.dendron.port
.dendron.ws
stdout
stdout.old
configuration
docs2
build
raw-assets
docs

dendron-aws-vault
package-lock.json
vault/.dendron.cache.json

.DS_Store

vault/.vscode/settings.json
assets
scripts/sync_assets.sh
seeds
pods/dendron.nextjs/config.export.yml
.dendron.cache*
.next
pods
.history
dendron-site.zip
vault/site.code-search
vault/changelog.release.2021-12-07.md
.dendron.*

.next
.next
.backup
dendron-site.code-search
