---
id: eea2b078-1acc-4071-a14e-18299fc28f47
title: Commands
desc: ''
updated: 1595261816971
created: 1595261816971
---

# Commands
{% for topic in plugin %}
---
## {{ topic.capitalize() }}
{% for entry in plugin[topic] | rejectattr("skipDocs") %}
### {{ entry.title | replace("Dendron: ", "") }}
{% if 'keybindings' in entry %}
- shortcuts: 
{% for k, v in entry.keybindings.items() %}
  - {{ k }}: `{{ v }}`
{% endfor %}
{% else %}
- shortcuts: none
{% endif %}


{{ entry.desc}}

{% if 'docs' in entry  %} {{ entry.docs }} {% endif %}


{{ entry.docPreview | default('') }}

{% endfor %}
{% endfor %}