---
id: eea2b078-1acc-4071-a14e-18299fc28f48
title: Config
desc: ''
updated: 1595261816971
created: 1595261816971
---

# Config
{% for key, value in config.items() %}
### {{ key }}
- type: {{value.type}}
- default: {{value.default | default('none')}}
{% if 'enum' in value%}
- options:  {{value.enum}}
{% endif %}

{{ value.description }}

{% endfor %}