name: Dendron site build

on:
  push:
    branches:
    - master
    - main
  pull_request:
    branches:
    - master
    - main
    - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Install npm dependencies
      run: yarn

    - name: Print version
      run: yarn dendron-cli -- --version

    - name: Build Next.js site
      run: |
        echo 'init Dendron Next' && npx dendron publish init
        echo 'install deps...' && cd .next && yarn && cd ..
        echo 'version check...' && npx dendron --version
        echo 'build and export...' && npx dendron publish export
